* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.calculator {
    width:65vw;
    border:1px solid black;
    height:75vh;
}
