* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color:antiquewhite;
}

.calculator {
    width:65vw;
    border:1px solid black;
    height:75vh;
    display: grid;
    gap:10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top:25px;
    border-radius:10px;
    padding:25px;
    background-color:rgb(33, 32, 32);
    color:white;

}
.button {
    border: 1px solid white;
    min-height:80px;
    min-width:80px;
    border-radius:10px;
    font-size:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(104, 100, 100);
    color:white;
}
.display {
    border-radius:10px;
    border:1px solid white;
    min-height:60px;
    grid-column: span 3;
    background-color:rgb(104, 100, 100);
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:40px;
    color:white;
}

.equal {
    background-color:orange;
}

.clear {
    grid-column:span 3;
    padding:8px;
    border-radius:10px;
    background-color:orange;
    color:white;
    font-size:40px;
}

.button:hover {
    cursor:pointer;
}
.clear:hover {
    cursor:pointer;

}
.display {
    cursor:text;
}